@{
    ViewData["Title"] = "Feature Toggle example";
}
<div class="row">
    <div class="col-md-4">
        <h3>Feature toggle demo</h3>

            <ul>
                <li>Release hundreds of times per day!</li>
            </ul>
    
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">Feature 1 is live!</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">Feature 2 is live!</p>
            </div>
        </div>
    </div>
</div>
